<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-assetpack"
        version="0.1.0">
    <name>AssetPack</name>
    <description>Cordova Asset Pack Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,android,assetpack</keywords>

    <platform name="android">
        <hook type="after_plugin_install" src="hooks/android/after_plugin_install.js" />
        <hook type="before_plugin_uninstall" src="hooks/android/before_plugin_uninstall.js" />
        <hook type="after_prepare" src="hooks/android/after_prepare.js" />
        <hook type="before_compile" src="hooks/android/before_compile.js" />
    </platform>
</plugin>
